<p>
    <%= content_tag(:label, l(:label_autocomplete_search_more_ten)) %>
    <%= check_box_tag("settings[autocomplete_autosearch]", 1, @settings['autocomplete_autosearch']) %>
</p>
<p>
    <%= content_tag(:label, l(:label_target_list)) %>
    <%= text_area_tag "settings[target_list]", @settings['target_list'], :rows => 20 %>
</p>
<p>
    <%= content_tag(:label, l(:label_exceptions_list)) %>
    <%= text_area_tag "settings[exceptions_list]", @settings['exceptions_list'], :rows => 20 %>
</p>
